.settings-dialog {
  width: 480px;
}

.settings-dialog-title {
  width: 480px;
  font-weight: bold;
  text-align: center;
}

.settings-dialog-fields {
  padding: 20px 0;
}

.settings-dialog-label {
  padding-right: 15px;
  width: 40px;
  text-align: right;
}

.settings-dialog-entry {
  width: 420px;
  padding: 2px 5px;
  border-radius: 15px;
  background-gradient-start: #222;
  background-gradient-end: #555;
  background-gradient-direction: vertical;
  font-size: 0.8em;
  color: #888;
  transition-duration: 300;
}

.settings-dialog-entry:focus, .settings-dialog-entry:hover {
  color: #555;
  caret-size: 3px;
  caret-color: #222;
  background-gradient-start: #555;
  background-gradient-end: white;
  background-gradient-direction: vertical;
  transition-duration: 300;
}
